<!--section3-->
<div id="sec_maps" class="mod_contacto">
    <div class="form_contacto">
        <div class="cont_form_c">
                <div class="cont_contfirmacion" style="">
                    <h3>¡Gracias por contactarnos!</h3>
                    <h4>Muy pronto nos comunicaremos contigo </h4>
                    <span class="o_mensaje"><a href="">ENVIAR OTRO MENSAJE</a></span>
                </div>
            </div>
        </div>
    </div>
    <figure>
        <img src="/themes/ulima/assets/img/contacto/signo.png"/>
    </figure>
</div>
