




<div class="charlasxcarrera">

    <div class="titu_charla">

        <h2>Inscríbete en Charlas x Carrera</h2>

        <p>Ven con tu familia y amigos y resuelve todas tus dudas sobre la carrera que quieres seguir.

            Selecciona la(s) carrera(s) de tu interés. (Vacantes limitadas).

        </p>

    </div>

    <div class="itemdiacharla">

        <h4>Puedes inscribirte a una o más charlas</h4>

        <h2>Día 1 - Martes 5 de febrero</h2>

        <div class="cont_itemcharla">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr class="headcha">

                    <td class="cha1">CHARLAS X CARRERA</td>

                    <td class="cha2">HORARIOS</td>

                </tr>

                <tr>

                    <td class="cha3"> Administración </td>

                    <td class="cha4">
                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>
                    </td>

                </tr>

                <tr>

                    <td class="cha3">Contabilidad</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Ingeniería Civil</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Psicología</td>

                    <td class="cha4">
                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

            </table>

        </div>

    </div>

    <div class="itemdiacharla">

        <h2>Día 2 - Miércoles 6 de febrero</h2>

        <div class="cont_itemcharla">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr class="headcha">

                    <td class="cha1">CHARLAS X CARRERA</td>

                    <td class="cha2">HORARIOS</td>

                </tr>

                <tr>

                    <td class="cha3">Ingenieria Industrial</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Derecho</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Marketing</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Economía</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

            </table>

        </div>

    </div>

    <div class="itemdiacharla">

        <h2>Día 3 - Jueves 7 de febrero</h2>

        <div class="cont_itemcharla">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <tr class="headcha">

                    <td class="cha1">CHARLAS X CARRERA</td>

                    <td class="cha2">HORARIOS</td>

                </tr>

                <tr>

                    <td class="cha3">Comunicación</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Ingeniería de Sistemas</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Arquitectura</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

                <tr>

                    <td class="cha3">Negocios Internacionales</td>

                    <td class="cha4">

                        <div class="custom-select " >
                            <select class="select-horario" name="">
                                <option value="Horario">Horario</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                                <option value="16:30 a 17:15 horas"> 16:30 a 17:15 horas</option>
                            </select>
                        </div>

                    </td>

                </tr>

            </table>

        </div>

    </div>

    <div class="message-error-carreras"></div>

    <div class="btn_ir btn_ir_modal"> <span> <a id="btn_insCharla" href="">Inscríbete</a> </span> </div>

</div>

</div>

</div>
