{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
<!--section2-->
<div class="cont-bc">
    <div class="parent-container">
        <div class="container-breadcream">
            <ul class="breadcream  ">
          {% for item in breadcrumb %}
            <li>
              {% if loop.last %}
                {{ item.text }}
              {% else %}
                <a href="{{ item.url }}">{{ item.text }}</a>
                <span> / </span>
              {% endif %}
            </li>
          {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

