ul.tabs--primary.nav.nav-tabs {
    display: block;
    width: 100%;
    z-index: 999999;
    position: relative;
}


.node-type-infraestructura .lista {
 
      padding-right: 0.5%;
    padding-left: 0.5%;
}
#quicktabs-carrusel_carreras_infraestructur .nav.nav-tabs {display: none;}

.main-slider .slick-dots li.slick-active  {
    background: url(../img/svg/active.svg) no-repeat 0 0;
}
.front .facultades {display: none;}
.main-slider .slick-dots li  {
    border: none;
    text-indent: -9999px;
    background: url(../img/svg/inactive.svg) no-repeat 0 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.cont_talleres_carreras .slick-slide img {width: 100%;}
.v_ulima .lista h2 {
       font-size: 36px;
    color: #333;
    font-family: 'exoblack';
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px; 
}
.v_ulima .lista figure {
    /* float: left; */
    margin-bottom: 15px;
}
.v_ulima .lista p {
    padding: 0 10px;
    font-size: 24px;
    line-height: 133%;
}
.node-type-infraestructura .v_ulima .view-content {
    display: inline-block;
    width: 100%;
}
.paragraphs-item-infraestructura-slider.view-mode-full{position: relative;}

 .page-somosulima .smas span > a::after {
content: " > ";
font-size: 32px;
  position: absolute;
    right: 10px;
    top: 3px;
    padding: 10px;
 }
 .carrera.smas span > a::after { 
content: ">";
    background: #fff;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    height: 100%;
    padding-top: 15px;
}

.node-type-modalidades  .mod_tipo {
    width: 24%;
    float: left;
    margin-right: 1%;
    margin-bottom: 10px;
}

.node-type-modalidades .mod_tipo a {
   
    width: 100%;
   
    min-height: 103px;
}
.node-type-modalidades .mod_tipo h3 {
    
    min-height: 35px;
}

.front .node.node-slider.node-teaser {position:  relative;  }

.cont_talleres_carreras .medio .slick__arrow {top:0;}
#block-views-carrusel-carreras-block-1 {position: relative; }
#block-views-carrusel-carreras-block-1 span.left-arrow.slick-prev.slick-arrow {
    position: absolute;
    left: 0;
    top: 10px;
}
.page-convenios select {
    color: #000;
}

#block-views-carrusel-carreras-block-1 .right-arrow.slick-next.slick-arrow {
    position: absolute;
    right:  0;
    top: 10px;
}

.list-thumbs-slider span.li a {
    color: #1b1b1b;
    font-size: 24px;
    text-align: center;
    padding: 32px 40px;
    display: inline-block;
    min-height: 108px;
    line-height: 22px;
    /* vertical-align: bottom; */
}
.list-thumbs-slider  .crisito span.li a {color:#FFF; }
.list-thumbs-slider .slick__slide {background: #f5f5f5;}
.list-thumbs-slider .crisito  {
    background: #ff6903;
    color: #FFF;
    position:   relative;
}
.multi-slider .slick-next {right: 1%;}
.node-type-modalidades .p_ins:last-child h3 ,.node-type-modalidades .p_ins:last-child h4 {color: #ff0036;   }
 .node-type-modalidades .item_request ul.listap li  h3{ float: right; width: calc(99% - 85px); }

 .node-type-modalidades .p_ins figure {float: left; width:60px;}

 ul.listap figure {float: left; width:85px;}
#webform-client-form-125 .form-actions .btn {
    width: 49%;
    background: #ff6903;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
        border-radius: 60px;
}
.mayuscula {text-transform: uppercase;}
.grippie {display: none !important;}
#webform-client-form-125 .form-control {    
    border-radius: 60px;
    border: 1px solid #ccc;
    padding: 15px 5%;
    color: #7d7d7d;
}
#webform-client-form-125  .form-actions {
    text-align: right;
}
.convenios button.slick-prev.slick-arrow {
    display: none !important;
    color: red;
    /* color: transparent; */
}

.slider_inter {
      min-height: 490px;
    padding-bottom: 50px;
}
.txtx1 {width: 100%;max-width: 100%;}
.col-md-4.ver {
    padding-bottom: 20%;
    padding-left: 0;
}
.page-admision .item_modalid {width: 91%;}
.page-admision .mod a {min-height: 85px;padding: 10px 8px; width: calc(100% - 20px);}
.o_modalidades {
  
    padding-right: 0;
    padding-left: 0;
}



.cont_cuadro {
  
    top: 37px;
    left: 35px;
}

.color>h2 { font-family: 'exoblack'; font-size: 24px; color: #ff6903; text-transform: uppercase; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ff6903; padding-left: 20px; }
.txt2x1 {
    position: absolute;
    top: -22px;
    right: 0;
    background: #575a60;
    max-width: 343px;
    width: 92%;
    padding: 4%;
    min-height: 385px;
    height: 105%;
}
.txt2x1.cmod1x1 {
     background: #575a60;
    position: absolute;
    max-width: 100%;
    width: 100%;
    padding: 4%;
    min-height: 120px;
    bottom: -22px;
    height: 0;
    top: initial
}
.txt2x1.cmod1x1:hover {    background: #ff6903;}
.convenios .slick-slider .slick-prev { left: -13%; top: 50%; margin-top: -30px; background: url(../img/arrow_l.png) no-repeat 0 0 !important }
.front .mod4, .front .mod5 {
    width: 100%;
    /* background: url(../img/s5.jpg) no-repeat 0 0; */
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 780px;
    /* float: left; */
}
.cvcv {padding: 0;}
.menudo.menu_on{width: 100%;}

.nav > li > a:hover, .nav > li > a:focus {background-color: transparent;text-decoration: underline;}
#mainmenu .navbar-nav > li {
    float: none;
}
.section1 .nav .inscrib a {height: 95px;}
.section1 .smas span a {padding:15px 45px 14px 30px;font-size: 28px;}
.section1  .smas span > a::after {
    content: ">";
    background: #0080D3;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    height: 100%;
        font-size: 223%;
    padding-top: 0;
}
.node-type-empleabilidad .slick-media.media.media--image {
    /* padding: 30px; */
    text-align: center;
    margin: 50px;
        height: 66px;
    width: 91px;
}
.videosss {display: none;}
.v_ulima .paragraphs-item-empleabilidad-exalumnos{position: relative;}
a.video {
     position: absolute;
    top: 20%;
    width: 80px;
    height: 70px;
    display: block;
    /* background: red; */
    right: 40%;
    color: transparent;
}

.front .close-it h4 {
    color: #fff;
}



@media screen and (max-width: 1369px) {
    .section7 .mod4 .cont_mod4 .smas span a {max-width: 415px;}
.section7 .mod5 .cont_mod4 .smas span a {max-width: 415px;}
.section1 .smas span a {padding:15px 30px 14px 0px;font-size: 28px;max-width: 295px}
.section1 .nav .inscrib a {height: 70px;}


.txt2x1 {
    min-height: 324px;
    height: 100%;
    max-width:252px;
}


.slider_inter {
    min-height: 320px;
}

.smas span span img {
   
    padding-top: 0;
}

}

.registro h2 {    color: #F36E23;    font-size: 20px;    font-weight: 100;    margin-bottom: 20px;text-transform: uppercase;text-align: center;}
.registro label.control-label {    margin-bottom: 3px;    color: #999;    font-size: 12px;}
.registro select {     border: 1px solid #ccc;    color: #ccc;    width: 100%;    padding: 8px 0;    border-radius: 3px;}
.registro .modal-header,.registro .modal-footer {display: none;}
.registro .modal-body {padding: 5% 10%;}
.registro .form-actions button {background: #F26C23; text-shadow:transparent;   width: 100%;    padding: 15px 0;    margin-bottom: 0;color: #fff;}
.registro .close{
position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: gray;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    float: left;
    top: 0;
    color: #FFF;
    right: 0;
    text-decoration: none;
    opacity: 0.8;
    border: 3px solid #fff;
    padding: 6px 10px;
}

#btn-block-webform-client-block-15 button {    background: #F36E23;    border: none;    color: #fff;   width: 230px;    font-weight: bold;    border-radius: 5px}
#block-bean-openlimatitle {
    text-align: center;
   
}
#block-webform-client-block-15  .modal-dialog {
    margin-top: 7%;
}
#btn-block-webform-client-block-15 {
    width: 100%;
    text-align: center;
    clear: both;
    padding: 35px;
}

input#edit-submitted-date,
input#edit-submitted-charlas {
    color: transparent;
    background: transparent;
    border: transparent;
    display: none;
}

.mensajeerror { 
color: red;
    
}
.carreras ul li:hover {cursor: pointer;}
.page-openlima .modal-backdrop {background-color: rgba(0, 0, 0, 0.9);    opacity: 0.9;}
.entity-paragraphs-item.paragraphs-item-imagen-descripcion {position: relative;}
.cont-slider_infra .slick-slide h3 {width: 100%;}

.medio .slick__arrow,
.cont-slider_infra .slick__arrow {top: 50%;
    width: 96%;
    position: absolute;
    padding: 0 2%;}

.medio .slick__arrow span.left-arrow.slick-arrow.slick-prev ,
.cont-slider_infra  .slick__arrow span.left-arrow.slick-arrow.slick-prev  {
    float: left;
    right: 0;
    /* position: absolute; */
    left: 5%;
    top: 50%;
    cursor: pointer;
}
.node-type-carrera .section3u .groups_txt .smas span a {padding: 0;}
.medio .slick__arrow span.right-arrow.slick-arrow.slick-next ,
.cont-slider_infra  .slick__arrow span.right-arrow.slick-arrow.slick-next {
    right: 5%;
    left: inherit;
    float: right;

    right: 0;
    /* position: absolute; */
    left: 5%;
    top: 50%;
    cursor: pointer;
}

.tourvirtual .youtube-container--responsive {
    min-height: 570px;
    padding-bottom: 0;
}

.con_pregu {
    background-repeat: no-repeat;
}

.node-type-malla-curricular .cont_curri {
    width: 100%;
    display: inline-block;
    /* max-width: 1100px; */
    padding-right: 0;
    padding-left: 0;
}
.cont_curri table tr th{
    font-weight: bold;
    height: inherit;
    padding: 15px;
    color: #999;
}
.cont_curri table tr td h3 {min-width: 170px;}
.cont_curri table {font-family: 'arial';}
.curri2 h3 {
    
    margin-top: 30px;
}
.page-convenios .convenios .mod_slide  h3 {
    padding-left: 0;
    font-size: 58px;
    margin-bottom: 20px;
}
.page-convenios .convenios .mod_slide  h2 {
    
    font-size: 62px;
  
}
#block-bean-conveniuos-carrusel .contextual-links-trigger {z-index: 9999;width: 20px;}
#block-views-testimonios-slider-block-1 .contextual-links-wrapper,
#block-views-testimonios-slider-block-1 a.contextual-links-trigger{display: none!important;}

.node-type-malla-curricular .file-icon {display: none;}
.front .section1 picture img:first-child {display: none;}
@media screen and (min-width: 991px) {

 .registro .modal-content {
    width: 380px;
    margin:auto;
}



}
@media screen and (max-width: 769px) {

.node-type-modalidades .mod_tipo {width: 98%;margin-right: 1%;margin-left: 1%;}
.node-type-modalidades .mod_tipo a {min-height: auto;}


.front .mod4,.front .mod5 {
    min-height: 400px;
}
.front .mod4, .front .mod5 {
    width: 100%;
}
.section7 .mod4 .cont_mod4 .smas span a {max-width: 345px;}
.section7 .mod5 .cont_mod4 .smas span a {max-width: 345px;}
}


@media screen and (min-width: 650px)and (max-width: 715px) {
.front .section1 .slick-slide picture img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

}


@media screen and (max-width: 650px) {

    .front .section1 picture img:first-child {
     display: block;
     width: 100%;
    }
   .front .section1 .smas span a {min-width: 238px;font-size: 20px;}

   .front .section1 picture img:nth-child(2) {
    display: none;
   }
}

