.convenios button.slick-prev.slick-arrow {
    display: none !important;
    color: red;
    /* color: transparent; */
}

.slider_inter {
  
    padding-bottom: 50px;
}
.txtx1 {width: 100%;max-width: 100%;}
.col-md-4.ver {
    padding-bottom: 13%;
    padding-left: 0;
}
.page-admision .item_modalid {width: 100%;}
.page-admision .mod a {min-height: 85px;padding: 10px 8px; width: calc(100% - 20px);}
.o_modalidades {
  
    padding-right: 0;
    padding-left: 0;
}

.cont_cuadro .borde {
    
    width: 300px;
    height: 300px;
    
}

.cont_cuadro {
  
    top: 55px;
    left: 55px;
}

.color>h2 { font-family: 'exoblack'; font-size: 24px; color: #ff6903; text-transform: uppercase; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ff6903; padding-left: 20px; }
.txt2x1 {
    position: absolute;
    top: -22px;
    right: 0;
    background: #575a60;
    max-width: 343px;
    width: 92%;
    padding: 4%;
    min-height: 385px;
    height: 105%;
}
.txt2x1.cmod1x1 {
     background: #575a60;
    position: absolute;
    max-width: 100%;
    width: 100%;
    padding: 4%;
    min-height: 120px;
    bottom: -22px;
    height: 0;
    top: initial
}
.txt2x1.cmod1x1:hover {    background: #ff6903;}
.convenios .slick-slider .slick-prev { left: -13%; top: 50%; margin-top: -30px; background: url(../img/arrow_l.png) no-repeat 0 0 !important }
.front .mod4, .front .mod5 {
    width: 100%;
    /* background: url(../img/s5.jpg) no-repeat 0 0; */
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 780px;
    /* float: left; */
}
.cvcv {padding: 0;}
.menudo.menu_on{width: 100%;}

.nav > li > a:hover, .nav > li > a:focus {background-color: transparent;text-decoration: underline;}
#mainmenu .navbar-nav > li {
    float: none;
}
.section1 .nav .inscrib a {height: 95px;}
.section1 .smas span a {padding:15px 45px 14px 30px;font-size: 28px;}
.section1  .smas span > a::after {
    content: ">";
    background: #0080D3;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    height: 100%;
        padding-top: 15px;
}
.node-type-empleabilidad .slick-media.media.media--image {
    /* padding: 30px; */
    text-align: center;
    margin: 50px;
        height: 66px;
    width: 91px;
}
.videosss {display: none;}
.v_ulima .paragraphs-item-empleabilidad-exalumnos{position: relative;}
a.video {
     position: absolute;
    top: 20%;
    width: 80px;
    height: 70px;
    display: block;
    /* background: red; */
    right: 40%;
    color: transparent;
}
@media screen and (max-width: 1369px) {
.section1 .smas span a {padding:15px 30px 14px 0px;font-size: 28px;max-width: 295px}
.section1 .nav .inscrib a {height: 70px;}

}