@charset "utf-8";

/* CSS Document */

.empleabilidad .slick-arrow,
.item-carrera .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    text-indent: -99999px;
    background-image: url(../img/arrows2.png);
    background-color: #FFF;
    border: none;
    width: 55px;
    height: 55px;
    margin-top: -23px;
    border-radius: 35px;
    cursor: pointer;
    background-repeat: no-repeat;
   /* display: none !important;*/
}

.item-carrera .lnegocios .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 41.5%;
    text-indent: -99999px;
    background-image: url(../img/arrows2.png);
    background-color: #FFF;
    border: none;
    width: 55px;
    height: 55px;
    margin-top: -23px;
    border-radius: 35px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.item-carrera .lnegocios .slick-prev {
    left: 49px;
    background-position: 14px 12px;
}

.item-carrera .lnegocios .slick-next {
    right: 49px;
    background-position: -82px 12px;
}

.cont_convenios .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 42%;
    text-indent: -99999px;
    background-image: url(../img/arrows2.png);
    background-color: #fff;
    border: none;
    width: 55px;
    height: 55px;
    margin-top: -23px;
    border-radius: 35px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.cont_convenios .phrases-slider .slick-prev {
    left: -50px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.cont_convenios .phrases-slider:hover .slick-prev {
    left: 50px;
}

.cont_convenios .phrases-slider .slick-next {
    right: 0px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.cont_convenios .phrases-slider:hover .slick-next {
    right: 50px;
}

.empleabilidad .phrases-slider .slick-prev,
.item-carrera .phrases-slider .slick-prev {
    left: 0px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
    background-position: 16px 10px;
}


.empleabilidad .phrases-slider:hover .slick-prev,
.item-carrera .phrases-slider:hover .slick-prev {
    left: 60px;
    /*display: block !important;*/
    background-position: 16px 10px;
}

.empleabilidad .phrases-slider .slick-next,
.item-carrera .phrases-slider .slick-next {
    right: 0;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.empleabilidad .phrases-slider:hover .slick-next,
.item-carrera .phrases-slider:hover .slick-next {
    right: 60px;
   /* display: block !important;*/

}

.empleabilidad .content .slide-content .person-image,
.node-type-carrera .slide-content .person-image {
    margin: 0 auto;
    float: none;
    display: block;
    width: 70px;
    height: 70px;
    background: #000;
    border-radius: 70px;
    overflow: hidden;
}

.empleabilidad .content .slide-content h2,
.node-type-carrera .slide-content h2 {
    font-family: 'montserratextrabold';
    font-size: 33px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 8%;
}


.node-type-carrera .view-testimonios-slider{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 45px 0;
}
.empleabilidad .content .slide-content h3,
.node-type-carrera  .slide-content h3 {
    font-family: 'montserratregular';
    font-size: 18px;
    font-weight: bold;
}

.empleabilidad .content .slide-content p,
.node-type-carrera  .slide-content p {
    font-family: 'montserratregular';
    font-size: 16px;
    padding-top: 10px
}

.empleabilidad .content .slide-content p span,
.node-type-carrera .slide-content p strong {
    font-family: 'montserratregular';
    font-size: 16px;
    color: #F36E23;
}

.cont_video.tvirtual iframe {
    text-align: center;
    margin: 0 auto;
    max-width: 908px
}

.map_content>li {
    display: none;
}

.map_content>li.active {
    display: block
}

.container .map svg {
    width: 100% !important;
}

.thumb-circle {
    float: none;
    display: block;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 7px;
}

.slick-active .thumb-circle {
    background: #F36E23;
}

.infrastructure-slider .slick-dots {
    bottom: 50px;
}

.multi-slider .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    text-indent: -99999px;
    background-image: url(../img/arrows2.png);
    background-color: rgb(255, 255, 255);
    border: none;
    width: 55px;
    height: 55px;
    margin-top: -100px;
    border-radius: 35px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.infraestructura .multi-slider .slick-prev {
    left: -70px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.infraestructura .multi-slider:hover .slick-prev {
    left: 50px;
}

.infraestructura .multi-slider .slick-next {
    right: -70px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.infraestructura .multi-slider:hover .slick-next {
    right: 50px;
}

.list-thumbs-slider {
    width: 100%;
    clear: both;
    display: block;
    float: left;
}

.multi-slider {
    width: 100%;
    clear: both;
    display: block;
    float: left;
    overflow: hidden
}

.cont_carreras .list-thumbs-slider {
    background: none;
    margin: 20px 0px
}

#block-views-carrusel-carreras-block {margin-top: 20px;  margin-bottom: 30px;}
.view-carreras .views-row{clear: both;}
.list-thumbs-slider .list {
    width: 100%;
    max-width: 88%;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px;
}

.list-thumbs-slider span.li {
background: #f5f5f5;
    width: 100%;
    padding: 13px 7px;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin: auto 0;
    color: #000;
    font-size: 12px;
    text-align: center;
}

.slick-current span.li { background: #009dfe; }
.slick-current span.li a {color: #FFF;}

.list-thumbs-slider .li.active a {
    color: #FFF
}

.list-thumbs-slider .li a {
    color: #7c7c7c;
    font-size: 12px;
    text-align: center;
        white-space: nowrap;
}
/*
.list-thumbs-slider .li:first-child {
    border-left: 0px solid #d8d8d8;
}*/



#slick-views-carrusel-carreras-1 {
    position: relative;
}

.list .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
color: #7c7c7c;
    
    background-color: #f5f5f5;
    
    width: 40px;
    height: 45px;
    margin-top: -23px;
    border-radius: 35px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 1px solid #d8d8d8;
}

.list .slick-prev {
    left: -40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list .slick-next {
    right: -40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-thumbs-slider ul li.last-item-visible {
    padding: 15px 42px;
}

.cont_nav .hamb {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 60px;
    display: none;
    z-index: 10;
}

.error {
    color: #E86805;
    font-size: 12px;
    width: 100%;
    display: block;
    float: left;
    padding: 8px 0px;
}

.map-slider .slick-prev {
    left: -54px;
    background-color: #FFF;
}

.map-slider .slick-next {
    right: -54px;
    background-color: #FFF;
}

.micromap {
    position: relative;
}

.point {
    width: 8px;
    height: 8px;
    background-color: #F36E23;
    display: block;
    float: left;
    position: absolute;
    border: 3px solid #FFF;
    border-radius: 100%;
}

.point.active {
    background-color: yellow;
}

.first-point {
    top: 108px;
    left: 42px;
}

.second-point {
    top: 274px;
    left: 42px;
}

.cont_areas_content {
    width: 100%;
    display: block;
    float: left;
}

.micromap-slider ul li {
    display: none;
}

.micromap-slider ul li.active {
    display: block !important;
}

.cont_concepto .list .slick-arrow,
.cont_carreras .list .slick-arrow {
    height: 44px;
    top: 22px;
}

.cont_concepto .list .slick-prev,
.cont_carreras .list .slick-prev {
    background-position: 17px 15px;
    border-right: none;
}

.cont_concepto .list .slick-next,
.cont_carreras .list .slick-next {
    background-position: -26px 15px;
}

.infraestructura .infrastructure-slider .slick-prev {
    left: -50px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.infraestructura .infrastructure-slider:hover .slick-prev {
    left: 50px;
}

.infraestructura .infrastructure-slider .slick-next {
    right: -50px;
    -webkit-transition: 0.25s ease-out 0.25s;
    -moz-transition: 0.25s ease-out 0.25s;
    -o-transition: 0.25s ease-out 0.25s;
    transition: 0.25s ease-out 0.25s;
}

.infraestructura .infrastructure-slider:hover .slick-next {
    right: 50px;
}

.wrapper-thumb-slider.fixed {
    width: 100%;
    clear: both;
    display: block;
    float: left;
}

.wrapper-thumb-slider.fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    left: 0;
    background: #FFF;
}

.wrapper-thumb-slider.fixed .list-thumbs-slider {
    max-width: 1366px;
    margin: 0 auto;
    float: none
}

.wrap-cont-login {
    position: relative;
}

.wrap-cont-login .closer {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #555861;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: block;
    float: left;
    top: 4px;
    color: #FFF;
    right: 4px;
    text-decoration: none;
}

@media screen and (min-width: 991px) {
 .youtube-video,
 .youtube-video .youtube-container--responsive iframe {
    height: 435px !important;
 }
}

@media screen and (max-width: 1025px) {
    .cont_nav .hamb {
        display: block;
    }
    .cont_nav nav {
        display: block;
    }
    .cont_nav .hamb.active span {
        border-bottom: 5px solid yellow;
    }
}

@media screen and (max-width: 320px) {
    .cont_areas ul.map-slider {
        display: inline-block;
        width: 100%;
        max-width: 320px;
    }
    .map-slider .slick-slide img {
        display: block;
        max-width: 100%;
    }
}